body, html{
  font-size: 1em;
  font-family: sans-serif;
  padding: 2em;
}


h1, h2, h3{ margin: 0 1em; }

h1{
  font-size: 1.5em;
  color: #000000;
  margin: 1em;
  text-transform: uppercase;
}

h2{
  font-size: 1em;
  margin: 0 1.5em;

  a{
    color: #ffffff;
    text-decoration: none;
  }
}

h3{
  font-size: 1em;
  margin: 0 2em;

  a{
    color: #ffffff;
    text-decoration: none;
  }
}

.nav-block{
  position: relative;
  display: inline-block;
  margin: 0;
  background-color: #3fa51b;
  padding: 0.75em 1em;
  border-left: 1px solid #fff;
  cursor: pointer;
  transition: background-color 0.15s ease-in;

  &:first-of-type{
    border-radius: 5px 0 0 5px;
  }

  &:last-child{
    border-radius: 0 5px 5px 0;
  }

  ul{
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    background-color: #bbf1cb;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.25s ease-in;

    li{
      list-style-type: none;
      display: block;
      width: 100%;
      transition: all 0.15s ease-in, color 0.05s ease-in;

      a{
        padding: 0.5em 1em;
        display: block;
        text-decoration: none;
        color: #000;
      }

      &:hover{
        background-color: #007342;

        a{
          color: #ffffff;
        }
      }
    }
  }

  &:hover{
    background-color: #20560d;

    ul{
      display: block;
    }
  }
}
